<div id="wrap">
  <%= render 'h_partials/mobile' %>

  <div class="ghost-navigation ">
    <div class="logo-box">
      <h1 class="navbar-brand customBrand">
        <%= link_to root_path,{method: :GET} do %> <%=
        image_tag('logo-dark.png',:class=>'logo-dark') %> <% end %>
      </h1>
    </div>

    <div class="ghost-nav-item cont-right menu-5 ghost-nav-mobile">
      <ul class="ghost-social-icons">
        <li>
          <a href="#">
            <i class="icon-telephone-receiver"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon-instagram"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon-github"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="ghost-side-nav">
        <ul>
          <form class="ghost-search">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search..."
              aria-label="Search"
            />
            <hr />
          </form>

          <div class="ghost-scroll" id="style-6">
            <li><a href="#widgets">Widgets</a></li>
            <li><a href="#admin-panels">Admin Panels</a></li>
            <li><a href="#help">How to use</a></li>
          </div>
        </ul>
      </div>
      <div class="ghost-body">
        <!-- Ghost Widgets -->
        <h2 id="widgets">Ghost Widgets</h2>
        <h3>
          This is a collections of my widgets.
        </h3>
        <section>
          <div class="owl-carousel">
            <!-- Start Card -->
            <div class="blog-slider">
              <div class="blog-slider__wrp">
                <div class="blog-slider__item">
                  <div class="blog-slider__img">
                    <%= image_tag('dateTimePcker')%>
                  </div>
                  <div class="blog-slider__content">
                    <span class="blog-slider_ _code">16 February 2020</span>
                    <div class="blog-slider__title">Date Time Picker</div>
                    <div class="blog-slider__text">
                      A Date/Time picker is a UI component that makes it easier
                      to help visitors to quickly select dates, times and/or
                      date ranges on the booking, schedule, event calendar web
                      apps.
                    </div>
                    <a
                      href="https://dan-biwott.github.io/"
                      class="blog-slider__button"
                      >View Demo</a
                    >
                  </div>
                </div>
                <div class="blog-slider__pagination"></div>
              </div>
            </div>
            <!-- Card End -->
          </div>
        </section>
        <!-- Admin Panels -->
        <h2 id="admin-panels">Admin Panels</h2>
        <h3>
          This are varios admin panel designs you may draw inspiration from.
        </h3>
        <section>
          <div class="owl-carousel">
            <!-- /////////////////////////// -->
            <div class="blog-slider">
              <div class="blog-slider__wrp">
                <div class="blog-slider__item">
                  <div class="blog-slider__img">
                    <%= image_tag('admin')%>
                  </div>
                  <div class="blog-slider__content">
                    <span class="blog-slider_ _code">15 Feb 2020</span>
                    <div class="blog-slider__title">Dark Vibe</div>
                    <div class="blog-slider__text">
                      Dark Themed. I find it tender to the human eye. If you
                      intend on spending a long time before a screen, She'll
                      serve you well.
                    </div>
                    <a
                      href="https://dan-biwott.github.io/"
                      class="blog-slider__button"
                      >View Demo</a
                    >
                  </div>
                </div>
                <div class="blog-slider__pagination"></div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
