<div id="wrap">
<%= render 'h_partials/header' %>
<%= render 'h_partials/mobile' %>
<!--Start Content-->
<div class="content">
 <div class="news-posts">
   <div class="container">
     <div class="row">
       <div class="col-md-8">

           <div class="news-sec">
             <%= image_tag('news-img1') %>
             <div class="detail">
               <div class="post-writer"> <%= image_tag('news-cheff2') %> <span>Sean Biwott</span></div>
               <div class="date"><i class="icon-clock"></i> <span>Apr 22, 2016</span></div>
               <div class="comment"><a href="#"><i class="icon-icons206"></i> <span>5 Comments</span></a></div>
               <h3 class="text-uppercase"><%= @spBlog.btitle %></h3>
               <p><%= @spBlog.bmessage %></p>
             </div>
           </div>

      <div class="share-post">
								<h5>Share this Post!</h5>
								<a class="social-icons" href="#.">
                  <%= image_tag('share-post') %>
								</a>
							</div>

							<div class="author-post">
								<div class="author-detail">
                  <%= image_tag('rick') %>
									<div class="text">
										<span class="name">Sean Biwott</span>
										<span class="position">Senior Student At Kabarak University</span>
										<p>Be Kind. Be helpful. Love learning. Don't Hold grudges.</p>
									</div>
								</div>
							</div>


							<div class="comments-sec">
								<h5 style="text-decoration: underline;"><%= link_to("Comments","#",id: "comments-link") %></h5>

						<div class="all-comments" id="all-comments">

							<div class="comment-box">
									<%= image_tag('minion') %>
									<div class="detail">
										<a href="#.">Reply</a>
										<span class="name">Wahab Apple</span>
										<span class="date">September 30, 2016 at 3:21 pm</span>
										<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
									</div>

									<div class="clear"></div>
								</div>

								<div class="comment-box">
									<%= image_tag('minion') %>
									<div class="detail">
										<a href="#.">Reply</a>
										<span class="name">John Smith</span>
										<span class="date">September 30, 2016 at 3:21 pm</span>
										<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
									</div>

									<div class="clear"></div>
								</div>


								<div class="comment-box">
								<%= image_tag('minion') %>
									<div class="detail">
										<a href="#.">Reply</a>
										<span class="name">M.Bilal</span>
										<span class="date">September 30, 2016 at 3:21 pm</span>
										<p>Established It is a long fact that a reader will be distracted by the readable content of at its layout. </p>
									</div>

									<div class="clear"></div>
									<div class="comment-box reply-comment">
								<%= image_tag('minion') %>
									<div class="detail">
										<a href="#.">Reply</a>
										<span class="name">John Smith</span>
										<span class="date">September 30, 2016 at 3:21 pm</span>
										<p>Established fact that a reader will be distracted by the readable content of a page when looking at its layout.  be distracted by the readable content when looking at its layout. </p>
									</div>

									<div class="clear"></div>
								</div>

									<div class="clear"></div>
								</div>

								</div>

							</div>


							<div class="leave-reply">
								<h5>Leave a Reply</h5>

								<div class="form">
									<input name=" " type="text" onblur="if(this.value == '') { this.value='Your full name'}" onfocus="if (this.value == 'Your full name') {this.value=''}" value="Your full name">
									<input name=" " type="text" onblur="if(this.value == '') { this.value='E-mail Address'}" onfocus="if (this.value == 'E-mail Address') {this.value=''}" value="E-mail Address">
									<textarea name=" " cols="1" rows="1" onblur="if(this.value == '') { this.value='Message'}" onfocus="if (this.value == 'Message') {this.value=''}" value="Message">Message</textarea>
									<input name=" " type="submit" value="submit">
								</div>
							</div>

       </div>
       <div class="col-md-4">

        <div class="recent-posts">
          <h6 class="bar-title">Recent Posts</h6>

          <div class="post-sec">
            <a href="#"><%= image_tag('recent-post1') %></a>
            <a href="#" class="title">How to get started with Blockchain</a>
            <span class="date">11 Minutes ago</span>
          </div>

          <div class="post-sec">
            <a href="#"><%= image_tag('recent-post2') %></a>
            <a href="#" class="title">How to get started with Rails</a>
            <span class="date">2 Days ago</span>
          </div>
          <div class="post-sec">
            <a href="#"><%= image_tag('recent-post3') %></a>
            <a href="#" class="title">How to Get started with React</a>
            <span class="date">3 months ago</span>
          </div>

        </div>
        <div class="clear"></div>


        <div class="categories">
          <h6 class="bar-title">Categories</h6>
          <ul>
            <li><a href="#."><i class="icon-chevron-small-right"></i> Robotics</a></li>
            <li><a href="#."><i class="icon-chevron-small-right"></i> Single paged apps</a></li>
            <li><a href="#."><i class="icon-chevron-small-right"></i> Pl/Sql</a></li>
            <li><a href="#."><i class="icon-chevron-small-right"></i> MySql</a></li>
            <li><a href="#."><i class="icon-chevron-small-right"></i> Flutter</a></li>
            <li><a href="#."><i class="icon-chevron-small-right"></i> Sean talks</a></li>
          </ul>
        </div>
        <div class="clear"></div>

        <div class="clear"></div>


        <div class="search">
          <input name=" " type="text" onblur="if(this.value == '') { this.value='Search here'}" onfocus="if (this.value == 'Search here') {this.value=''}" value="Search here">
          <a href="#."><i class="icon-search2"></i></a>
        </div>

      </div>

     </div>
   </div>
 </div>




</div>
<!--End Content-->
<%= render 'h_partials/footer' %>
<a href="#0" class="cd-top"></a>
</div>
</body>
</html>
