<div id="wrap">
<%= render 'h_partials/header' %>
<%= render 'h_partials/mobile' %>

<div class="sub-banner">
 <div class="container">
   <div class="row">
     <div class="col-md-12">
       <div class="detail">
         <h1>Sean Reports</h1>
         <span>The blogs below contain step wise procedures to how i've done things.</span>
         <ul>
           <li><a href="">Home</a></li>
           <li><a href="" class="select">Latest news</a></li>
         </ul>
       </div>
     </div>
   </div>
 </div>
 <div class="banner-img"></div>
</div>
<div class="wave"></div>

<!--End Sub Banner-->



<!--Start Content-->
<div class="content">

 <div class="news-posts">
   <div class="container">
     <div class="row">
       <div class="col-md-8">
         <% @blog.each do |b| %>

           <div class="news-sec">
             <%= image_tag('news-img1') %>
             <div class="detail">
               <div class="post-writer"> <%= image_tag('news-cheff2') %> <span>Sean Biwott</span></div>
               <div class="date"><i class="icon-clock"></i> <span>Apr 22, 2016</span></div>
               <div class="comment"><a href="#"><i class="icon-icons206"></i> <span>5 Comments</span></a></div>
               <h3 class="text-uppercase"><%= b.btitle %></h3>
               <p style="height:76px;overflow:hidden;text-overflow:ellipsis;"><%= b.bmessage %></p>
               <td><%= link_to('Continue Reading',public_blog_detailed_url(:public_blog_id=>b.id),class: "full-story") %></td>
             </div>
           </div>

           <% end %>

       </div>
       <div class="col-md-4">

         <div class="recent-posts">
           <h6 class="bar-title">Recent Posts</h6>

           <div class="post-sec">
             <a href="#"><%= image_tag('recent-post1') %></a>
             <a href="#" class="title">How to get started with Blockchain</a>
             <span class="date">11 Minutes ago</span>
           </div>

           <div class="post-sec">
             <a href="#"><%= image_tag('recent-post2') %></a>
             <a href="#" class="title">How to get started with Rails</a>
             <span class="date">2 Days ago</span>
           </div>
           <div class="post-sec">
             <a href="#"><%= image_tag('recent-post3') %></a>
             <a href="#" class="title">How to Get started with React</a>
             <span class="date">3 months ago</span>
           </div>

         </div>
         <div class="clear"></div>


         <div class="categories">
           <h6 class="bar-title">Categories</h6>
           <ul>
             <li><a href="#."><i class="icon-chevron-small-right"></i> Robotics</a></li>
             <li><a href="#."><i class="icon-chevron-small-right"></i> Single paged apps</a></li>
             <li><a href="#."><i class="icon-chevron-small-right"></i> Pl/Sql</a></li>
             <li><a href="#."><i class="icon-chevron-small-right"></i> MySql</a></li>
             <li><a href="#."><i class="icon-chevron-small-right"></i> Flutter</a></li>
             <li><a href="#."><i class="icon-chevron-small-right"></i> Sean talks</a></li>
           </ul>
         </div>
         <div class="clear"></div>

         <div class="clear"></div>


         <div class="search">
           <input name=" " type="text" onblur="if(this.value == '') { this.value='Search here'}" onfocus="if (this.value == 'Search here') {this.value=''}" value="Search here">
           <a href="#."><i class="icon-search2"></i></a>
         </div>

       </div>

     </div>
   </div>
 </div>




</div>
<!--End Content-->
<%= render 'h_partials/footer' %>
<a href="#0" class="cd-top"></a>
</div>
</body>
</html>
